*{ font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}


header {
    margin: 44px 0px 144px 76px;
}

.link-header{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px; /*  line-height permite controlar o espaçamento entre as linhas de um texto. */
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;}

#botao-login{ 
    background-color: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border-style: none;
    cursor: pointer;}

img{
    width: 568px;
    height: 500px;
    top: -1150px;
    margin-left: 125px;
    
    margin-bottom: 183px;
    
}
    
main{
    display: flex;
    }

h1{ 
    width: 513px;
    height: 122px;
    font-weight: 900;
    font-size: 100px;
    position: absolute;
    left: 779px;
    top: 217px;
    line-height: 122px;
    color: #515151;}
    
h2{ 
    position: absolute; 
    left: 779px;
    top: 338px;
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;}


#caixa{ 
display: flex;
margin-top: 32px;



}

#lorem { position: absolute;
    width: 515px;
    height: 87px;
    font-weight: 400;
font-size: 24px;
line-height: 29px;
margin-left: 86px;
margin-top: 170px;
color: #848484;}


#botao-explore{
    background-color: #ADFF00;
    color: #000000;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    border-radius: 30px;
    position: absolute;
    
    margin-left: 779px;
    margin-top: 345px;
    width: 239px;
    height: 64px;
    border-style: none;
    cursor: pointer;}
    





