*{font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;}


header{
    margin-top: 47px;
    margin-left: 47px;
}  

.link{
    margin-right: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;text-align: center;
    letter-spacing: 0.875px;
    color: #17233D;
    cursor: pointer;}

#button-header{
    background-color: #6FBF44;
    height: 51px;
    width: 124px;
    border: 1px solid #4CB538;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;}

img{
    width: 595.18px;
    height: 500px;
    display: inline-block;
    margin-top: 163px;
    margin-left: 121px;


} 

section{
    display: inline-block;
    margin-left: 84.82px;
    }


h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    width: 582px;
    height: 164px;
    }    

#lorem{
    height: 99px;
    width: 493px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
}

#learn-more{
    width: 112px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    
    color: #6FBF44;
    margin-top: 55px;
    cursor: pointer;}

  